* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(52, 46, 52);
    overflow: scroll;
}

.header {
    margin: 25px 0px 0px 0px;
    padding: 20px;
    font-family: cursive;
    background-color: rgb(52, 46, 52);

}



.header-h1 {
    margin: 0px 0px 20px 0px;
    text-align: center;
    display: block;
    background-color: rgb(52, 46, 52);
    padding: 16px 0px 0px 16px;
    font-size: 46px;
    font-family: cursive;
    color: whitesmoke;


}

.nav-ul div li {

    color: black;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-top: 25px;


}

.ul {
    color: black;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    border-radius: 35px;
    border: solid white 1px;
    justify-content: center;
    text-align: center;
}

.search-engine-optimization {
    margin-right: 35px;
}

.li-online-reputation {
    margin-left: 35px;
}

a {
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
    color: whitesmoke;
    font-family: cursive;

}

a:hover {
    background-color: rgb(168, 176, 176);
}

.portfolio {
    height: 300px;
    width: 13.5%;
    border: solid white 10px;
    margin: auto;
    padding: 60px;
    background-image: url("../images/mypic2.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 10px;
}

.aside {
    margin-top: 25px;
    margin-right: 10px;
    padding: 10px;
    clear: both;
    float: right;
    width: 20%;
    height: 970px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ff9800;
    position: sticky;
}

/* .benefit-lead,
.benefit-brand {
    color: #ffffff;
    margin: 3px;
    padding: 5px;
} */

/* #benefit-lead-p1,
#benefit-brand-p1,
#benefit-cost-p1 {
    border: 1px;
    margin-left: 10px;
    text-align: justify;
} */

/* .benefit-cost {
    color: #ffffff;
    margin: 3px;
    padding: 5px;
} */


/* .benefit-lead h3 {
    margin-bottom: 15px;
    text-align: center;
} */

/* .benefit-brand h3,
.benefit-cost h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
} */

/* .benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 3px auto;
    max-width: 150px;

} */

/*thi was search-engine-optimization */
.search-engine-optimization {
    border-radius: 40px;
    margin: 30px 0px 35px 20px;
    padding: 40px 40px 0px 20px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ff9800;
    color: #ffffff;
}

#p1-searchengine {
    text-align: justify;
    padding: 5px;
    margin-left: 5px;
    float: left;
    width: 400px;
}

#p1-online-reputation-management {
    text-align: justify;
    padding: 4px;
    margin-top: 15px;
    margin-right: 10%;
    float: left;
    width: 400px;
}

#p1-social-media-marketing {
    text-align: justify;
    padding: 4px;
    margin-top: 10px;
    margin-right: 10%;
    float: left;
    width: 400px;
}

.online-reputation-management,
.social-media-marketing {
    border-radius: 40px;
    margin: 0px 0px 35px 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ff9800;
    color: #ffffff;
}



.search-engine-optimization img {
    height: 200px;
    width: 200px;
    margin: 5px 40px 15px 40px;

}


.online-reputation-management img {
    height: 210px;
    width: 340px;
    margin: 10px 150px 30px 10px;

}

.social-media-marketing img {
    height: 230px;
    width: 310px;
    margin: 5px 20px 15px 10px;
    padding-bottom: 10px;
}


.search-engine-optimization h2 {
    margin: 3px 0px 5px 50px;
    padding: 10px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 1px;
    font-size: 36px;
    float: left;
}

.social-media-marketing h2 {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 36px;
}


/*added a footer for semantics */
.footer {

    margin-bottom: 50px;
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    background-color: #ff9800;
    left: 0;
    bottom: 0%;
    height: 70px;
    width: 100%;
    position: static;





}